[2018-05-24 21:18] cwillisf opened #20 "`didReceiveMessage` may only be compatible with EV3"
The `didReceiveMessage` notification informs the client (Scratch extension) that data was received from the peripheral. Currently this is handled in an EV3-specific way: the code reads the 16-bit message length, then reads that number of bytes to get the whole message.

Once we have some other Bluetooth device to test with, we should figure out how to generalize the `didReceiveMessage` functionali

[2018-06-07 16:44] cwillisf opened #25 "Sending messages too quickly can cause an error"
On Windows, attempting to send a message to a Bluetooth device will cause an error if a previous send has not yet completed. We should queue `send` requests from the client in order to avoid these errors.

[2018-06-07 16:46] cwillisf opened #26 "Mac/BLE: characteristicDidChange is not working"
Sending a `read` request with the `startNotifications` flag set returns the current value in the direct response (good) but does not actually start sending `characteristicDidChange` messages to the client (bad).

[2018-06-07 16:47] cwillisf opened #27 "Windows/BLE: characteristicDidChange is not working"
Sending a `read` request with the `startNotifications` flag set returns the current value in the direct response (good) but does not actually start sending `characteristicDidChange` messages to the client (bad).

[2018-06-07 16:49] #26 closed, assigned to cwillisf

[2018-06-21 18:22] evhan55 opened #29 "Sending BLE message does not result in a response as expected"
**Requirements:**

- Requires the usage of this commit: https://github.com/LLK/scratch-link/commit/b7f22a14a54e7eeaf1d8b06cf69faf3e72db7f9f
- Requires the latest micro:bit firmware: https://github.com/LLK/scratch-microbit-firmware
- Latest micro:bit firmware protocol: https://github.com/LLK/scratch-microbit-firmware/blob/master/protocol.md

**Steps To Reproduce:**

1. Open playground.html
2. Follo

[2018-06-26 21:51] cwillisf opened #30 "Scratch Link logo & store visual assets"
Before we're able to publish Scratch Link onto platform stores, we'll need to create a variety of assets to be shown in those stores. We'll need to come up with an icon/logo design for Scratch Link.

The assets needed include:
- Mac:
  - All images should be PNG format, sRGB color space, layers merged (transparency is OK), non-interlaced.
  - Application icon: 16x16, 32x32, 64x64, 128x128, 256x256

[2018-06-27 16:08] #29 closed, assigned to cwillisf

[2018-06-29 16:32] evhan55 opened #32 "Scratch Link (BT) Possibly Crashing on polling"
### Steps to Reproduce

1. Use these two braches: https://github.com/LLK/scratch-vm/tree/feature/device-connection?files=1 and https://github.com/LLK/scratch-gui/tree/feature/device-connection-modals?files=1
2. Load EV3 extension
3. Connect to an EV3 (with some sensors plugged in) by using the orange status button next to extension header
4. Once connected, sensor values should begin printing in t

[2018-07-02 19:31] evhan55 opened #34 "EV3 / BT classic RSSI always returned as '127'"
### Steps to Reproduce:
1. Using these two PR's: https://github.com/LLK/scratch-gui/pull/2537 and https://github.com/LLK/scratch-vm/pull/1285
2. Load EV3 extension
3. Click orange 'connect' button at top of extension blocks

### Observed

After list of devices scans, an 'EV3' is listed with RSSI value '127' reported

### Expected
RSSI value is to spec, something between -70 and 0

[2018-07-02 21:32] ericrosenbaum opened #35 "Scratch Link exits with "RFCOMM run loop exited""
After connecting and disconnecting successfully several times, we saw this error on the Scratch Link console: `RFCOMM run loop exited`,

and this error on the Scratch console:

`Uncaught (in promise) code: -32601 data: "Cannot call send in discovery state" message: "Method Not Found"` (many times)

this causes Scratch Link to exit, which causes:

`BTSession error: {"code":-32500,"data":"Connection

[2018-07-03 18:30] #32 closed, assigned to cwillisf

[2018-07-11 14:03] ericrosenbaum opened #42 "Can the installer automatically launch the application as a final step?"
Perhaps with a button saying "Launch Scratch Link" or "Start Scratch Link"?

I found it a bit confusing after installation to have to go find it in my application folder and run it (but if it's not possible to have automatically launch, we can include this in the instructions)

[2018-07-12 15:12] evhan55 opened #43 "Scratch Link crash with error"
Crash with this error just happened after a routine connection attempt of BT over OSX

[code]

[2018-07-17 21:46] BryceLTaylor opened #47 "Microbit won't connect and gives errors"
Connecting to the micro bit should result in a connected micro bit.

Instead it gives an error on windows and says "Oops, Looks like something went wrong."

![screenshot 18](https://user-images.githubusercontent.com/1088291/42847108-ef8f2d1a-89e8-11e8-8af2-cf5829596374.png)

We can see the micro bit in the list and try to connect to it, but it fails.

Chrome on Windows

[2018-07-17 21:48] BryceLTaylor opened #48 "Scratch Link quits sometimes on Windows"
Scratch Link should stay on until you quit it.

Instead it occasionally quits on you.

I will try to get repro steps soon.

Windows

[2018-07-18 13:56] ericrosenbaum opened #50 "Application should launch itself on OS startup"

[2018-07-18 14:03] ericrosenbaum opened #51 "Request for "privateKey" on mac"
When Scratch Link tries to create a connection, I see this request for keychain access to "privateKey":

![screen shot 2018-07-18 at 9 58 23 am](https://user-images.githubusercontent.com/567844/42886484-a81318be-8a71-11e8-989b-69a1c50abc15.png)

Mac OS 10.13.2 Chrome 66.0

[2018-07-18 14:03] BryceLTaylor opened #52 "Micro bit disconnect shortly after connection"
Once you connect a micro bit it should stay connected.

When I first connected the micro bit it showed the successfully connected message and then became disconnected.  An error appeared in the console.

![microbitdisconnect](https://user-images.githubusercontent.com/1088291/42886453-963344f2-8a71-11e8-8346-80a27edc03fd.png)

Repro steps:
This project already had the EV3 extension added
I then add

[2018-07-18 15:09] ericrosenbaum opened #53 "EV3/microbit disconnects with "Could not decode a text frame as UTF-8.""
After running this stack for a little while:

![screen shot 2018-07-18 at 11 08 09 am](https://user-images.githubusercontent.com/567844/42890453-e26e6aaa-8a7a-11e8-8a37-f63e74621cca.png)

The EV3 disconnects, because the websocket has closed with this error:

`WebSocket connection to 'wss://device-manager.scratch.mit.edu:20110/scratch/bt' failed: Could not decode a text frame as UTF-8.`

Mac OS 10

[2018-07-18 19:55] #27 closed, assigned to cwillisf

[2018-07-18 19:55] #47 closed, assigned to cwillisf

[2018-07-18 19:59] #52 closed, assigned to cwillisf

[2018-07-19 00:50] #48 closed, assigned to cwillisf

[2018-07-19 12:33] #43 closed, assigned to cwillisf

[2018-07-23 22:35] #53 closed, assigned to evhan55, cwillisf

[2018-07-28 16:39] evhan55 opened #58 "WeDo2 / BLE optional service not recognized"
**Expected**

Connecting to a BLE device with the following filter:

[code]

.... should allow writing to the optional service.

**Actual**

When trying to write to the optional service, this error comes back:

`{"code":-32602,"data":"attempt to access unexpected service: 00001565-1212-efde-1523-785feabcd123","message":"Invalid Params"}`

**Possible Fix**

I believe the fix might be in `BLESession

[2018-08-02 13:43] ericrosenbaum opened #59 "After Link has been open a few days, it hangs on the "connecting" step"
I've seen this situation a couple of times now on my mac:

- Everything is working fine for several days- I connect to microbits and EV3s on the beta
- I come back another day, and Link is still running
- I add the microbit extension, it scans and finds my microbit, I click the connect button
- It hangs indefinitely on the "connecting" step in the GUI connection modal
- No errors in the console

A

[2018-08-02 14:50] evhan55 opened #60 "Certificates update"
Talking to @colbygk , he mentioned that the Scratch Link / device manager certificates and bundles may need an update since they expire in 2019.

Also suggested was the idea to update the certificates possibly as part of the software update cycle, since they expire so frequently.

[2018-08-03 20:03] cwillisf opened #64 "WebSocket binary frames?"
The WebSockets specification includes a mechanism for treating text and binary frames differently: see [section 5.2 of RFC 6455](https://tools.ietf.org/html/rfc6455#section-5.2) and the treatment of the "opcode" field in particular.

The only concrete difference between a binary frame and a text frame is a flag in the opcode field of the frame, though the specification demands that a text frame's

[2018-08-03 20:54] #51 closed, assigned to nobody

[2018-08-03 20:58] #58 closed, assigned to evhan55, cwillisf

[2018-08-06 14:59] evhan55 opened #66 "Makefile doesn't accept folders with spaces in the name"
**Expected**:

Running `make` doesn't give errors.

**Observed**:

When running `make` in the `macOS` directory, it would error out if a folder name in one of the paths containing the repo had a space in the name.  Example folder name: `git repos`.

**Workaround**:

Changing the folder from `git repos` to `repos` lets the `make` script run to completion, but perhaps this can be fixed to not need t

[2018-08-06 20:53] cwillisf opened #67 "API doesn't handle notify-only characteristics well"
It's possible for a BLE characteristic to allow change notification without allowing a read operation. Scratch Link's current BLE API doesn't allow for that: the only way to request notification is to issue a `read` with the `startNotifications` flag set. In the case of a notify-only characteristic, this can lead to an error such as `"Reading is not permitted."`

For now, one workaround is to catc

[2018-08-13 20:51] cwillisf opened #70 "Docs: Replace "SDM" with "Scratch Link""
The documentation still refers to "the SDM" throughout, even though we've since renamed the application to "Scratch Link"

[2018-08-17 20:27] #67 closed, assigned to evhan55, thisandagain, cwillisf, haworthia

[2018-08-17 20:41] cwillisf opened #72 "Mac: Crash on `forever { change WeDo2 light color }`"
This sequence crashes the Mac version of Scratch Link when using the WeDo 2.0 extension:
![image](https://user-images.githubusercontent.com/7019101/44287788-e8048c00-a222-11e8-9425-f86b5112ce29.png)

[2018-08-20 18:36] cwillisf opened #75 "Add timeouts for OS calls"
On occasion, the macOS Bluetooth stack gets into a broken state where it stops issuing callbacks like `didDiscoverServices`, and the only workaround I've found is to reboot the computer. In this situation Scratch Link will act as if everything is fine, but `connect` will never complete. Ideally we should add a timeout to situations like this so that the user can at least get an error message.

Whi

[2018-08-21 16:58] #72 closed, assigned to cwillisf

[2018-08-22 18:28] cwillisf opened #77 "Windows: WeDo 2 SPAM leads to crash"
@rschamp was able to crash the Windows version of Scratch Link with something like this:
![image](https://user-images.githubusercontent.com/7019101/44482880-6b94f300-a5fe-11e8-8a60-c56f2e32b4ca.png)

[2018-08-23 18:12] #70 closed, assigned to cwillisf

[2018-08-24 22:51] #25 closed, assigned to cwillisf

[2018-08-24 22:53] #35 closed, assigned to cwillisf

[2018-08-27 21:24] #30 closed, assigned to carljbowman, cwillisf, kaaaaathy

[2018-08-28 18:22] #77 closed, assigned to rschamp, cwillisf

[2018-09-18 18:01] #34 closed, assigned to ericrosenbaum, cwillisf

[2018-09-26 19:55] ericrosenbaum opened #83 "Sometimes a phantom EV3 appears on Windows"
When scanning for EV3s, we had two on the table: EVFREE and EVPEA. A windows machine showed EVBEE in the scan, but never showed EVPEA. Where did EVBEE come from? It's one we've used in the past, but is not currently on. Macs did not see it in their scans.

[2018-09-27 06:43] martinohanlon opened #84 "Linux version of scratch-link?"
This issue is meant to be a way of opening a discussion relating to the creation a linux version of scratch-link.

From my perspective:

In the near future, we (Raspberry Pi foundation) will need to make some decisions about how to make a future Scratch 3 Raspberry Pi extensions "talk" to the hardware and the presence (or not) of a linux version of scratch-link is a factor.

Current thinking (no m

[2018-10-04 22:33] cwillisf opened #87 "WeDo 2.0 can "go away" without causing any error"
If a WeDo 2.0 goes away unexpectedly, such as by holding the power button to turn it off, Scratch Link does not currently inform the client of an error or close the session. It should do both.

Related to #85

[2018-10-10 19:11] cwillisf opened #88 "Mac BLE: Scratch Link disconnects every ~30 sec when used on Amtrak Cascades 518"
I tried to demo Scratch Link using a micro:bit with beta.scratch.mit.edu while on a train, and it kept disconnecting. I've tried testing in other situations and haven't seen similar behavior.

I suspect that it has something to do with the unreliable wifi on the train. If that's the case this may be more general (not just Mac BLE).

[2018-10-11 21:21] cwillisf opened #89 "Installing over a "newer" version doesn't work correctly"
1. Install Scratch Link 1.18.x
2. Attempt to install Scratch Link 1.1.x

Note that Scratch Link 1.1.x is newer than 1.18.x due to a change in the way version numbers are constructed for this project.

Expected result: Scratch Link 1.1.x is now available to run

Actual result:

- Windows: Scratch Link 1.1.x refuses to install, displaying a message that a newer version is already installed
- Mac: @e

[2018-10-11 22:05] cwillisf opened #90 "Mac: Cannot reconnect micro:bit after sleep"
1. Connect micro:bit to Scratch 3.0
2. Cause computer to sleep, wait a few seconds, and wake it up
   - [x] Scratch should report a connection problem
   - Expected: macOS Bluetooth menu indicates no connection to micro:bit
   - Actual: macOS reports that the micro:bit is still connected
3. Attempt to reconnect Scratch to micro:bit
   - Expected: Scratch reconnects to the micro:bit
   - Actual: Sc

[2018-10-24 19:30] evhan55 opened #91 "BLE connection allows 'discover' during discovery state"
While a BLE socket is open over Scratch Link, it is possible to send multiple 'discover' requests on a single socket session (i.e. during an existing discovery state).  While over a BT socket, attempting to do so returns an error: `{"code":-32601,"message":"Method Not Found","data":"Cannot call discover in discovery state"}`.

The Scratch Link documentation states that Scratch Link automatically h

[2018-11-08 20:38] ericrosenbaum opened #93 "Silent crash on EV3 disconnect or reconnect"
Scratch Link silently crashes (i.e. disappears from the tray) when I disconnect from an EV3.

I thought I saw this on attempting to reconnect to the EV3 as well, but now that I think about it, probably it had already crashed on the disconnect.

Scratch Link 1.1.9.0
Chrome 70
Windows 10 Pro 1803 build 17134.345

[2018-11-08 20:43] ericrosenbaum opened #94 "After connecting EV3/SPIKE Prime on windows, can't reconnect without first un-pairing"
Once I have connected to an EV3, and then disconnected, and then restarted Scratch Link (due to the crash in https://github.com/LLK/scratch-link/issues/93), when I attempt to connect again, the EV3 never appears in the scan.

The only reliable way I have found to be able to find and connect to the EV3 is to use the Windows Bluetooth settings to unpair the EV3 (i.e. "remove this device"). After I d

[2018-11-14 16:35] #93 closed, assigned to nobody

[2018-11-16 20:06] #89 closed, assigned to cwillisf

[2018-11-20 22:44] ericrosenbaum opened #97 "BLE extensions receive no sensor input on windows 10 version 1703"
I can scan for and connect to a microbit, but it always disconnects after a few seconds.

This appears to be because no sensor data is coming back, so the 4.5s timeout in the extension triggers a disconnect.

Some users on the forums have reported a similar problem with microbit.

I've noticed that the on this same version of Windows, the WeDo can connect, and I can set the light color, but no sen

[2018-11-21 16:44] knandersen opened #98 "When connected to a device, refreshing Scratch crashes Scratch Link"
When using Scratch 3 (latest MacOS+Safari) and Scratch Link (develop or master), if I connect to a device (tested with WeDo 2 and EV3) and then hit refresh on Scratch 3 causing the page to reload and sessions to close, Scratch Link crashes:

[code]

Repro:
1. Connect to a device like WeDo 2 or EV3.
2. Refresh Scratch
3. Scratch Link crashes with Segmentation Fault 11

I've tried to do a bit of deb

[2018-11-28 17:54] thisandagain opened #99 "With BLE device, cannot access unadvertised services"
### Expected Behavior

When connection to a BLE device is discovered and established, access to any GATT service named in "service" or "optionalServices" should be allowed.

### Actual Behavior

Unable to access any characteristic listed under "optionalServices" unless the service is explicitly part of the advertising packet/advertisement data. In need of a way to access services listed as "option

[2018-11-29 20:54] cwillisf opened #100 "Warn and exit gracefully when WebSocket port is already occupied"
Scratch Link opens its WebSocket server on port 20110.

### Expected:

If port 20110 is already occupied, Scratch Link should display an error message and exit gracefully.

### Actual:

The WebSocket library throws an exception which is not caught by the application, resulting in a crash.

[2018-12-06 22:24] #97 closed, assigned to evhan55, cwillisf

[2018-12-19 20:21] evhan55 opened #104 "BLE 'getServices' not implemented"
### Expected Behavior

Sending a `getServices` request over BLE to Scratch Link will send a list of available services advertised by the peripheral, as documented here: https://github.com/LLK/scratch-link/blob/develop/Documentation/BluetoothLE.md#enumerating-services

### Actual Behavior

A `getServices` request returns a `Method not found` error

### Operating System and Browser

Mac, as discover

[2018-12-20 16:00] spectranaut opened #105 "Request for next release before 2019-01-19 (for new extension playtest)"
Last week, we had to fix a bug in Scratch-Link in order for Scratch-Link to connect to any Vernier godirect devices (#104, already merged). Vernier has scheduled a play test with their new godirect Scratch extension on January 19th, 2019.

Could the next release of Scratch Link come out before January 19th so that they don't have to use custom builds?

[2018-12-28 15:46] paulkaplan opened #106 "Windows Firewall prompt that comes up after installing is confusing"
I got this after installing from the Windows Store:
<img width="960" alt="scratch-link-windows-defender" src="https://user-images.githubusercontent.com/654102/50520317-a7006c00-0a8d-11e9-8d9b-48e0d3fc5033.png">

It _seems_ to work no matter what I choose, but still it is (a) a confusing choice i do not understand and (b) seems to suggest a build issue because the "publisher" is "unknown"? That sho

[2019-01-01 17:12] #100 closed, assigned to cwillisf

[2019-01-03 19:43] ericrosenbaum opened #107 "Mac App store lists seller as "Code-to-Learn Foundation""
Ideally it should say "Scratch Foundation" everywhere.

<img width="203" alt="screen shot 2019-01-03 at 2 41 33 pm" src="https://user-images.githubusercontent.com/567844/50657958-e1727900-0f65-11e9-96f4-996d32ccefac.png">

[2019-01-03 20:36] #107 closed, assigned to nobody

[2019-01-07 20:49] #60 closed, assigned to colbygk

[2019-01-10 14:57] spectranaut opened #108 "Cannot connect to vernier device on Windows"
### Expected Behavior

A GDX-FOR device should be discovered by Scratch Link 1.1.28 on Windows.

### Actual Behavior

The device is never discovered.

### Steps to Reproduce

1. Run Scratch Link 1.1.28
2. navigate to https://vernierst.github.io/scratch-gui/goforce/
3. click the add extension button
4. add the "GDX-FOR" extension (the last extension listed might being using mircobit image).
5. Afte

[2019-01-11 00:10] evhan55 opened #109 "Windows development README additions"
I am trying to use the Windows development instructions and I believe the following installation instructions are missing:

- dependency: .NET Framework 4.6.2
- dependency: bash (install Cygwin)
- dependency: ImageMagick
- run: generate-images.sh

[2019-01-14 21:17] evhan55 opened #111 "Windows BLE 'withResponse' write crashes for Vernier GDX-FOR"
### Expected Behavior

GDX-FOR stays connected after connection is established

### Actual Behavior

GDX-FOR crashes soon after connection is established, seemingly because of an issue with `withResponse` being set to `true` on line 339 of `BLESession.cs`

[2019-01-14 22:29] #108 closed, assigned to ericrosenbaum, cwillisf

[2019-01-16 20:14] #111 closed, assigned to evhan55

[2019-01-28 16:38] #105 closed, assigned to cwillisf

[2019-02-06 17:13] knandersen opened #112 "Discover devices based on BLE Advertisement Data"
All LEGO devices running the LEGO Wireless Protocol 3.0 and later, such as LEGO Boost, share the same BLE Service and Characteristic UUIDs. This means that with the current implementation of Scratch Link and Scratch VM, searching for a LEGO device only based on UUIDs will discover (and connect to) all other LEGO devices.

According to the protocol, product distinction is done based on BLE Advertis

[2019-02-08 18:54] BryceLTaylor opened #113 "There should be a Windows MSI installer file made available"
IT administrators are asking for MSI files to install more efficiently in schools. I think we should make one.

Related to https://github.com/LLK/scratch-desktop/issues/35

### Operating System and Browser

Windows

[2019-02-08 18:56] BryceLTaylor opened #114 "Installer should include an Install per-machine rather than per-user option"
Currently when you install Scratch-Desktop on Windows it only installs on one user's account. There should be an option to install for the whole machine so any user can access the program.

Related to https://github.com/LLK/scratch-desktop/issues/36

### Operating System and Browser

Windows

[2019-02-12 16:37] evhan55 opened #116 "BLE 'getCharacteristics' not implemented"
### Expected Behavior

Method 'getCharacteristics' returns a list of characteristics on a service, per documentation: https://github.com/LLK/scratch-link/blob/develop/Documentation/BluetoothLE.md

### Actual Behavior

Not implemented?

### Notes

Might want to add sanity checker in `playground.html` for this call

[2019-02-26 02:46] cwillisf opened #118 "Version info should follow platform conventions"
### Expected Behavior

There should be an obvious way to check Scratch Link's version number, preferably following platform conventions. Most likely this means an "About" dialog.

### Actual Behavior

On both Mac and Windows, clicking on the Scratch Link icon displays a menu which contains the Scratch Link version number and an option to quit. Clicking on the version number copies version details

[2019-02-26 02:57] cwillisf opened #119 "Should Scratch Link offer a "latest version" check?"
### Expected Behavior

An instance of Scratch Link should be able to check whether or not it's the latest available version, and maybe offer to update if there is an update available.

### Actual Behavior

Scratch Link leaves version checking to the user (for direct download versions) or the operating system (for Mac App Store / Microsoft Store versions).

### Open Questions

* Where would Scratch

[2019-03-01 07:17] #98 closed, assigned to cwillisf

[2019-03-12 03:27] evhan55 opened #121 "No detection of lack of Bluetooth on Windows?"
### Expected Behavior

Scratch Link should send back an error if Bluetooth is not detected in the OS

### Actual Behavior

Scratch Link does not send back an error if Bluetooth is not detected in Windows, sometimes

### Steps to Reproduce

This happened randomly one time for me, when Bluetooth was somehow disabled/missing/broken in Windows version 1803.  I can't figure out a STR.  Restarting the c

[2019-03-14 14:50] ericrosenbaum commented on #83
@rschamp saw this again today. No EV3s were present in the room, but on a windows machine that had previously connected to two EV3s, both appeared in the scan.

cc @thisandagain

[2019-03-22 21:52] evhan55 commented on #112
A note from @cwillisf about the implementation for Windows:

[2019-03-27 17:09] evhan55 commented on #121
At a playtest today for the Vernier extension, this seemed to happen again to me on a Windows 1803 Dell laptop.

[2019-03-29 17:46] cwillisf opened #122 "Feature request: log Scratch Link communication for debugging purposes"
Scratch Link could log peripheral communication to a file and/or a semi-hidden debug dialog as a way to help with extension development and debugging. Such a log should include fine-grained timestamps to help with rate limiting, queueing, etc.

Open question: should the log record WebSocket communication, hardware communication (like Bluetooth API calls), or both? One option would be to offer chec

[2019-04-11 18:24] knandersen commented on #122
Yeah having it be checkboxes would be super-sweet. I think both WebSocket comm. and hardware comm. are relevant!

[2019-04-17 20:29] ericrosenbaum opened #124 "Mac app hanging with lots of threads"
### Expected Behavior

It should not be possible to cause Scratch Link to hang

### Actual Behavior

I noticed that the Scratch Link icon has turned light gray, and I get a beach ball when I hover over it.

This was probably caused by a bug in the BOOST extension while I was testing it.

<img width="653" alt="Screen Shot 2019-04-17 at 3 57 46 PM" src="https://user-images.githubusercontent.com/5678

[2019-04-25 19:49] Timurinyo opened #125 "BLED112 support"
### Expected Behavior

Make possible the connection for computers without BLE through BLED112 adapter.

### Actual Behavior

It's not possible to connect to WeDo2.0 for computer without BLE, but with BLED112 adapter

### Steps to Reproduce

Try to connect to WeDo2.0 smarthub using BLED112 adapter on machine without BLE

### Operating System and Browser

Windows 10. Desktop.

[2019-05-03 19:46] em-be commented on #84
Hi,

After some quick examination it seems that scrach-link is a flat web server @device-manager.scratch.mit.edu:20110 with websocket capability which handles json requests as described in [Network Protocol](../tree/develop/Documentation/NetworkProtocol.md). json requests for bt/ble are quite simple:
- discover services and enter connection state;
- send raw data to bluetooth devices and rebroadca

[2019-05-22 14:31] evhan55 opened #126 "Add OUI-Prefix filtering to Windows"
OUI-Prefix filtering was added to Scratch Link for macOS, but not for Windows:
https://github.com/LLK/scratch-link/pull/96

We should add it for Windows now.

[2019-05-22 19:05] ericrosenbaum commented on #20
cc @evhan55 @knandersen

[2019-05-23 02:37] evhan55 commented on #94
This is also true for the LEGO SPIKE Prime.

[2019-05-29 12:12] evhan55 commented on #20
Some preliminary tests on the SPIKE Prime shows that this might not be a problem at least for that device.  Is that accurate @knandersen ?

[2019-05-31 02:18] evhan55 opened #129 "SPIKE Prime automatic pairing failing on Windows"
### Expected Behavior

SPIKE Prime device should launch a pairing dialog on Windows the first time you try to connect to the device from the extension.

### Actual Behavior

On early prototypes of this extension, the SPIKE Prime device does not launch a pairing dialog on Windows the first time you try to connect to the device from the extension, and connection fails.

### Steps to Reproduce

Using

[2019-05-31 02:21] evhan55 commented on #129
Notes from a meeting:

Try to achieve pinless pairing on Windows, or try sending "empty pins", etc.

[2019-05-31 17:46] #94 closed

[2019-06-04 15:29] evhan55 commented on #104
Resolved via https://github.com/LLK/scratch-link/pull/123

[2019-06-04 15:29] #104 closed

[2019-06-04 15:32] evhan55 opened #131 "Use bit-shifting for canonicalization of UUID strings in BLE/macOS"
Re: `getCanonicalUUIDString` in `BLESession.swift`

[2019-06-04 17:55] cwillisf opened #133 "Client should be able to check Scratch Link's version"
### Expected Behavior

The client (`scratch-vm` and other supported clients) should be able to send a request to Scratch Link to check the [protocol version number](https://github.com/LLK/scratch-link/blob/develop/Documentation/NetworkProtocol.md#version-history).

For bug/workaround reasons it might be a good idea to also report the application version. On the other hand, for privacy/security rea

[2019-06-04 18:16] cwillisf commented on #133
My opinion on the application version question: let's just do the protocol version as a first pass, and if we find a reason for application version later then we can add it. The main disadvantage of this approach is that we won't have an official way to distinguish different application versions prior to actually adding the field, but my expectation (hope?) is that having the protocol version avai

[2019-06-04 18:20] evhan55 commented on #133
One vote for:
- `protocol` or `api` for protocol version
- `version` for app version

But I don't know if there are other standards out there. Anyway I personally prefer short labels when possible if the distinction can be clear enough.

[2019-06-04 18:24] knandersen commented on #20
@evhan55 @cwillisf It seems to work fine with SPIKE Prime (I've received messages without problems), but perhaps it's worth investigating if certain messages or lengths would cause problems?

[2019-06-04 23:44] #129 closed, assigned to evhan55

[2019-06-05 00:09] cwillisf commented on #20
It sounds like the SPIKE Prime communication protocol might be compatible with the EV3's protocol in at least this specific detail. @knandersen, is it true that the SPIKE Prime always sends a 16-bit message length followed by a message of that length? If so, I guess we can postpone dealing with this until later, but I believe it's still an issue for broader Bluetooth device support.

[2019-06-05 19:05] cwillisf opened #134 "Windows project should use Visual Studio 2019"
### Expected Behavior

Scratch Link should use up-to-date tools where possible. Visual Studio 2019 was released in April of 2019 so we should consider migrating Scratch Link to it soon. On the other hand, there's currently no urgent need to upgrade.

### Actual Behavior

The Windows build of Scratch Link currently uses Visual Studio 2017.

[2019-06-06 17:32] rschamp opened #135 "Trouble installing from the Dropbox MSI"
In the 6/6 bug hunt, I was on the Ulna Windows machine, which had a previous version of Scratch Link installed on it, and that version was running, unbeknownst to me.

I used this link to get a new version of Scratch Link: https://www.dropbox.com/s/y222oldv1jgopbw/ScratchLinkSetup-1.1.85.0.zip?dl=0

I ran the installer and everything seemed to work fine, but on the last step of the install, I clic

[2019-06-07 17:39] evhan55 commented on #126
won't fix

[2019-06-07 17:39] #126 closed, assigned to evhan55

[2019-06-09 18:06] audetto commented on #84
I don't know how the Windows and MacOS versions are implemented, but I think this is very similar to the http-serial-BT bridge developed by MakeBlock for the MBot (like an Arduino)

It is a node.js app which is used by their version of Scratch to send data via the serial port to the device which is running a particular sketch with a compatible protocol.

I've created a github project here if anybo

[2019-06-10 19:27] knandersen commented on #20
@cwillisf I did some tests and it doesn't seem like I can get more than a few hundred bytes from the SPIKE Prime hub, so 16-bit seems to be more than enough for LEGO hardware.

[2019-06-10 23:19] cwillisf commented on #20
@knandersen and I had some discussion earlier today that I think should be included here for the sake of clarification. Basically, this issue represents the concern that the protocol used by EV3 (and now SPIKE Prime), where the device sends a 16-bit length followed by a message of that length, is not standard and not likely to be followed by other Bluetooth RFCOMM devices. There may be a few that

[2019-06-11 02:35] cwillisf opened #136 "macOS 10.13 compatibility broken by new Xcode / Swift"
### Expected Behavior

The `make dist` command should generate an application which works on macOS 10.10 and above. If that is not possible it should fail.

### Actual Behavior

On a system with Xcode 10.2 or higher / Swift 5 or higher, `make dist` generates an application that is only compatible with macOS 10.14 (and maybe newer). I have not yet determined why but I suspect it's because of the ch

[2019-06-15 20:00] Timurinyo commented on #125
@cwillisf Can you give an advice on how to add bled112 support to scratch link?

[2019-06-15 20:38] audetto commented on #84
https://github.com/audetto/asi-link

I've written a super simple implementation in nodejs of a link for serial ports (USB or BT Classic), which should work on all platforms.
Not tested with any real device as I do not have a device to test it with. I am still writing the scratch-vm extension for an mBot, then I will do the full test.

I might be completely off, but it looks super simple, with a fe

[2019-06-16 19:27] audetto commented on #84
My bad, it was a side effect of a poor design (global variables...)
Each extension is a new ws:// connection so there is no need to ad this to the protocol.
Anyway, now it is time to write the Extension in scratch-vm and we will see how this works.

[2019-06-19 18:38] cwillisf opened #137 "Why does Scratch Link use Secure WebSockets?"
This issue is here to explain and possibly discuss the rationale behind choosing Secure WebSockets (WSS, wss://) instead of plain WebSockets (WS, ws://) for Scratch Link communication.

## Why WSS?

While plain WebSockets are certainly easier and have less overhead, we're forced to use WSS due to the security model that many web browsers follow:

When a page is loaded over HTTPS many browsers will

[2019-06-19 18:38] #137 closed, assigned to cwillisf

[2019-06-19 18:39] cwillisf commented on #137
I've marked this issue as "closed" but feel free to discuss WSS-related issues here!

[2019-06-19 18:41] cwillisf commented on #84
@audetto I've just created #137 as a place to discuss WSS rationale and related topics. You're not the first person to ask about it so I figured it was time for a thorough explanation to be posted somewhere.

If you'd like to further discuss other topics related to the protocol or serial ports or anything that isn't specifically related to building a Linux version of Scratch Link, I would recommen

[2019-06-19 19:39] audetto commented on #20
I am writing an extension for an mBot using the existing serial protocol.
It uses a different protocol

0xFF 0x55 byte(len) data

So I guess the answer is that if Scratch link mandates a protocol of some type then it is up to the devices to implement it.
Otherwise, the extension will have to buffer and detect boundaries (which is what I am doing).

[2019-06-26 20:16] ericrosenbaum opened #138 "Mac app crashes when EV3 battery removed"
### Expected Behavior

Scratch Link never crashes

### Actual Behavior

On mac, if you connect to an EV3, and remove the battery from the EV3, the disconnect alert will be correctly triggered, but Scratch Link crashes silently.

Note that it does NOT crash if you power down the EV3 using its buttons.

I don't know if the crash happens on Windows.

### Operating System and Browser

Mac OS 10.13.6 C

[2019-06-27 19:32] ericrosenbaum commented on #87
I noticed this again when testing the behavior of the extension when removing the battery from a WeDo. The extension does not show a disconnect alert. In one case when I did this, Scratch Link (on mac) froze- the cursor changed to a beach ball when mousing over it, and I had to quit and restart it to reconnect.

[2019-07-11 08:52] marek-memsql commented on #84
+1 for the linux port... It would be great because my kids could use a rpi for programming boost...

[2019-07-11 21:31] audetto commented on #84
Mind you, scratch link linux for a serial device is pretty much done (either USB or Bluetooth Classic)

Lego Boost needs BLE UART which is not written.

There is a node.js module for this

https://github.com/noble/noble

I will have to try it.

[2019-07-12 02:01] jaafreitas commented on #84
Two years ago I wrote a multi-platform micro:bit extension for ScratchX using noble.
https://github.com/jaafreitas/scratch-microbit-extension

I'm still waiting for the official Scratch Link for Linx, Raspberry PI and Chromebook version.

[2019-07-20 04:20] cwillisf commented on #134
It turns out that the existing project & solution files work fine in Visual Studio 2019 as long as the right options are installed, such as C# support, the right Windows 10 SDK, and the [WiX Toolset Visual Studio 2019 Extension](https://wixtoolset.org/releases/). No changes to files in this repository are necessary.

[2019-07-20 04:20] #134 closed, assigned to nobody

[2019-07-23 17:13] #112 closed

[2019-07-26 18:08] cwillisf opened #141 "Behavior of unrecognized filter options varies by platform"
### Expected Behavior

The Windows and macOS versions of Scratch Link should behave the same.

### Actual Behavior

If the client supplies unrecognized filter options:
- on macOS, the unrecognized options are ignored
- on Windows, the unrecognized options are treated as an error

Either behavior could be considered correct but both platforms should behave the same. The current macOS behavior makes

[2019-07-27 20:33] a-pasquale opened #142 "Not able to connect to Micro:bit on osX"
### Expected Behavior

After installing the scratch-microbit-1.1.0.hex file on the micro:bit, I should be able to connect to Scratch using Scratch Link.

### Actual Behavior

![image](https://user-images.githubusercontent.com/539763/61999289-a1065400-b08b-11e9-9671-12a64283b23d.png)

### Steps to Reproduce

Install scratch-microbit-1.1.0 hex file, start Scratch Link, open Scratch website and add M

[2019-07-28 14:29] benjiwheeler commented on #142
Trying to think of troubleshooting steps. Can you confirm that you are able to connect to other Bluetooth devices?

[2019-07-28 14:30] benjiwheeler commented on #142
Is your micro bit powered by a USB cable or a battery pack?

[2019-07-28 14:39] a-pasquale commented on #142
Bluetooth is working; I can connect to other devices.
I am powering the microbit with a USB cable.

[2019-07-28 15:39] ericrosenbaum commented on #142
Please try updating to the latest version of scratch link (available from scratch.mit.edu/microbit)

[2019-07-28 16:13] a-pasquale commented on #142
I just updated again, but no luck.
Scratch Link 1.18.827.1749 57133af
macOS Version 10.14.5 (Build 18F132)
Thanks for the suggestions.

[2019-07-28 16:32] ericrosenbaum commented on #142
@a-pasquale Sorry for the trouble. Based on the info you've provided (thank you!) it looks like the update process failed. You initially had a pre-release version of Scratch Link, from August 2018, and you still have that same version. The current version is `1.1.46`. We have seen a problem where the installer is not able to overwrite pre-release versions. I think what you will need to do is manua

[2019-07-28 16:39] a-pasquale commented on #142
Thanks, that solved it. Much appreciated!

[2019-07-28 16:39] #142 closed, assigned to nobody

[2019-08-02 18:51] cwillisf opened #143 "We should use a controlled environment for release builds"
### Expected Behavior

Our release builds should be done in a clean, known environment to ensure consistency and correctness. There are several options for how to accomplish this, including continuous integration servers, containers, and more.

### Actual Behavior

Right now they are done in a developer's working environment which introduces opportunity for toolchain problems like #136 as well as

[2019-08-06 00:43] cwillisf commented on #135
Nobody has reported this for a while so I'm going to assume it was a temporary problem with that build and/or the individual computer. If anyone sees this again please re-open with as much detail as you can provide. Thanks!

[2019-08-06 00:43] #135 closed, assigned to cwillisf

[2019-08-06 00:46] cwillisf opened #144 "Allow use when default port is busy"
### Expected Behavior

It should be possible to use Scratch Link even on a computer which is running an important service on the default port.

### Actual Behavior

If the default port (currently 20110) is occupied, Scratch Link exits with an error message. See #100.

### Steps to Reproduce

1. Run something which listens on port 20110. A modified development version of Scratch Link is a good cand

[2019-08-06 00:56] cwillisf commented on #144
Basically this means allowing Scratch Link to run on a non-default port. The tricky part is making sure that Scratch (both Scratch Desktop and web-based Scratch) are able to find Scratch Link on that non-default port.

There are basically two options that I see, and we could do either or both.

### Allow users to manually configure an alternative port.

We could add some sort of settings dialog in

[2019-09-06 08:46] dolmen opened #146 "Add USB HID support"
### Feature request

Add support for USB HID devices.

### Use case: LEGO Dimensions Toypad extension

I would like to implement a Scratch 3.0 extension for the LEGO Dimensions Toypad created for the LEGO Dimensions console game. I want to give a second life to this hardware device that was created for a video game that is now abandoned by WB Games/LEGO. As this is an end-of-life product it is qui

[2019-09-13 17:22] jorgenskogmo commented on #84
+1 for Linux (esp. RPI)

[2019-09-13 17:24] cwillisf commented on #141
This affects LLK/scratch-vm#2231 in an unfortunate way. It's too late to do anything about that one but it does prove that this isn't just a theoretical problem.

[2019-09-30 04:35] HaukHuang opened #147 "Where can I find the code for the hex file?"
Where can I find the code for the hex file?

[2019-09-30 08:13] apple502j commented on #147
Closed source, i.e. you can't.

[2019-10-06 09:56] apple502j commented on #84
@thisandagain A Japanese programmer wrote Python implementation of Scratch Link here: https://github.com/kawasaki/bluepy-scratch-link/blob/master/scratch_link.py
Worth checking.

[2019-10-07 14:58] thisandagain commented on #84
@apple502j Thanks for the heads-up! I hadn't seen this yet!

[2019-10-17 05:22] jolosan opened #149 "Linux support"
Hello, is there any idea to have it working in linux?

[2019-10-17 08:42] apple502j commented on #149
Duplicate of #84

[2019-10-29 09:00] jsyzthz commented on #84
Can we use a cross-platform language to re-write this tools? like Java, Python ...

[2019-11-01 18:44] cwillisf opened #150 "BLE: the `withResponse` parameter should override write behavior"
### Expected Behavior

Scratch Link should respect the `withoutResponse` parameter from a write message if present, even if the "write without response" capability flag is not present on the characteristic. Some peripherals may allow this even without the flag, and it should be the extension's responsibility to ensure compatibility with a particular peripheral.

@terado0618 reports that this chang

[2019-11-01 22:04] cwillisf opened #151 "BLE: delay on first read/write of a characteristic"
### Expected Behavior

The time it takes to read or write a characteristic should depend only on state exposed to the client, such as whether or not the peripheral is connected. In particular, it should not depend on any hidden internal state within Scratch Link.

### Actual Behavior

The first message to read or write a characteristic takes some extra time while information about that characteris

[2019-11-01 22:13] cwillisf opened #152 "Windows: since Fleck is thread-safe, we may not need _socketLock"
### Expected Behavior

We should only use thread synchronization when necessary.

### Actual Behavior

In `Session.cs`, interaction with `_webSocket` is protected by locking a semaphore called `_socketLock`. Fleck, the WebSocket library we use, claims to be thread-safe so we may not need this semaphore. Removing it may improve performance slightly. See also statianzo/Fleck#191.

Thanks to @terado0

[2019-11-01 22:24] cwillisf opened #153 "Scratch Link communication latency is increased due to Nagle's algorithm"
### Expected Behavior

Scratch Link should pass messages between a client (usually Scratch) and a hardware peripheral with minimal latency.

### Actual Behavior

Most operating systems combine small packets in order to increase throughput; this is known as Nagle's algorithm. Since Scratch Link communication is generally over a loopback connection we don't generally need to worry about throughput,

[2019-11-14 06:25] #153 closed, assigned to nobody

[2019-11-14 06:34] #152 closed, assigned to nobody

[2019-11-14 16:30] #151 closed, assigned to nobody

[2019-11-19 11:39] bkbalaind opened #160 "Scratch link don't send correct data for event 'characteristicDidChange' on MacOS"
### Expected Behavior

By documentation is should getting

  "jsonrpc": "2.0",                    // JSON-RPC version indicator
  "method": "characteristicDidChange", // Command identifier
  "params": {
    "serviceId": "0000180f-0000-1000-8000-00805f9b34fb" // UUID of the service which hosts the changed characteristic
    "characteristicId": "00002a19-0000-1000-8000-00805f9b34fb", // UUID of the

[2019-11-19 20:12] cwillisf opened #161 "Follow up on PR comments about writing with/out response"
### Expected Behavior

Scratch Link code should be easy to read & understand.

### Actual Behavior

The code around writing with or without response is hard to read in both C# and Swift.

### Steps to Reproduce

See review comments on #159

[2019-11-19 20:13] #150 closed, assigned to nobody

[2020-03-05 15:29] whaleygeek commented on #122
Lack of any debug at the coal-face makes this impossible to debug, and all we get is 'it doesn't work'.

We need both app logging and device logging, for diagnosis in the field. I have a school using micro:bits and this doesn't work at all (doesn't list any micro:bits). School meets all minimum requirements and firewall setup as documented here: https://support.microbit.org/support/solutions/artic

[2020-03-29 20:14] ThomasEnzinger opened #163 "Not connecting to Lego Boost on Windows 10"
### Expected Behavior

I'm trying to connect the Lego BOOST set for my son to https://scratch.mit.edu/boost.

### Actual Behavior

I'm trying to make it work for quite some time now, and actually one time I succeeded. I could control the Lego BOOST motors. So I know my hardware is capable to do the job.
But I since then I was not able to make it work again, and the behavior is quite strange:
When

[2020-04-06 18:39] BryceLTaylor commented on #163
Issues with your own personal setup for a device are best addressed to contact us: https://scratch.mit.edu/contact-us/

However, @ThomasEnzinger it may be worth going into your OS's bluetooth settings and "Forget" the boost and try again.  Sometimes your OS prevents Scratch Link from finding the device.

[2020-04-06 18:39] #163 closed, assigned to nobody

[2020-04-11 10:14] grantkemp opened #164 "Documentation on how to debug to help fix mac bugs"
Please can you kindly share some basic debugging instructions or what I need to do in order to fix the Mac OS bug where it doesn't connect.

Happy to contribute the swift code to fix it the connection to lego boost, however I am not sure what I should be looking for to determine that it's connected.

[2020-04-12 18:01] rafmet opened #165 "Windows version of Scratch Link doesn't work with CSR 4.0 USB Bluetooth dongle"
### Expected Behavior

It should work with any 4.0 bluetooth adapter which works correctly in Windows OS especially with such popular chipset as CSR8510.

### Actual Behavior

When using CSR 4.0 USB dongle and trying to connect I get the message saying no devices found.
Lego provided software works correctly with either USB dongle or laptop internal adapter which I think proves the dongle is ok. S

[2020-04-13 11:08] francesco-vannini opened #166 "No device found when using DNS masquerade"
### Expected Behavior

The BBC Microbit should be found and connected via BT using the Scratch Link

### Actual Behavior

No device is found despite several refreshes

### Steps to Reproduce

Set the DNS to use either OpenDNS or use the default DNS of the router which in turn uses OpenDNS :)

Once the DNS is set to my ISP directly or via my router the problem disappears.

### Operating System and

[2020-04-13 12:40] apple502j commented on #166
Maybe read #137 ?

[2020-04-13 14:02] francesco-vannini commented on #166
Hi @apple502j the issue is definitely related to that so wrong title from me. As in #137 this link https://scratch.mit.edu/discuss/post/3597312/ seems to address the problem too.

It would be nice to document this issue at least within the FAQ of scratch.mit.edu/microbit as I'm sure many will have a similar setup to mine.

I created a "host override" within DNS Resolver of my Pfsense and that solv

[2020-04-13 14:45] BryceLTaylor commented on #165
We've had a few reports of usb bluetooth dongles not playing well with Scratch Link.  I'm not sure if it's a general problem or specific to certain models.

[2020-04-13 15:42] BryceLTaylor commented on #164
@grantkemp can you please describe the issue that you're seeing and how to reproduce it?

[2020-04-13 19:35] #166 closed, assigned to nobody

[2020-04-15 15:42] BryceLTaylor commented on #164
I'm going to close this issue since it is not referencing a specific issue.  Feel free to open it again with a description of the issue you're seeing including reproduction steps.

[2020-04-15 15:42] #164 closed, assigned to nobody

[2020-06-14 05:40] goddess1992 opened #169 "certificate problem"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2020-06-14 05:42] goddess1992 commented on #169
hello,
i have a problem with creating certificate
this is the error i have while running "convert_certificates.sh" :

$ /cygdrive/e/projects/scratch-link-develop/Certificates/convert-certificates.sh
unable to load certificates
34359738384:error:0D0680A8:asn1 encoding routines:asn1_check_tlen:wrong tag:crypto/asn1/tasn_dec.c:1130:
34359738384:error:0D07803A:asn1 encoding routines:asn1_item_embed_d2

[2020-06-14 05:54] apple502j commented on #169
Read the docs:

[2020-06-14 06:13] goddess1992 commented on #169
how can i provide it ? i am a bit confused...

[2020-06-14 06:15] goddess1992 commented on #169
i think the problem is i don't have the right scartch-device-manager.key and .cer

[2020-06-14 06:29] apple502j commented on #169
Maybe http://www.winserver.com/public/aup/HowToObtainCertificate.htm works

[2020-06-14 06:30] goddess1992 commented on #169
thanks for answering.
i'll check it

[2020-06-17 17:44] #136 closed, assigned to nobody

[2020-06-18 17:51] cwillisf commented on #169
Hello!

The official Scratch certificates are not provided publicly. Those certificates would let others impersonate the Scratch team in a small way. If you want to build a custom version of Scratch Link you will need to get your own certificates for your version.

In addition to the link @apple502j shared, I would also recommend looking here: https://letsencrypt.org/getting-started/

I will close

[2020-06-18 17:51] #169 closed, assigned to nobody

[2020-06-24 16:00] cwillisf opened #174 "Microsoft Store app icon is small"
### Expected Behavior

The icon for the Microsoft Store version of Scratch Link, both in the store and in the Start Menu, should fill the available space.

### Actual Behavior

The icon for the Microsoft Store version of Scratch Link, both in the store and in the Start Menu, is small and centered in a larger, solid-color square:
![image](https://user-images.githubusercontent.com/7019101/85590200-0

[2020-06-29 01:03] qwertyad1 commented on #84
do you have copy i can install???

[2020-06-29 01:10] qwertykid commented on #84
pls?

[2020-06-29 01:16] qwertykid commented on #84
:disappointed:

[2020-06-29 01:20] qwertykid commented on #84
- [ ] make Linux Verizon of scratch link
- [x] be sad
:disappointed:

[2020-06-29 18:10] cwillisf commented on #66
This was added to the repository README.md a while ago but I forgot to close this issue. Closing it now.

[2020-06-29 18:10] #66 closed

[2020-06-30 21:11] cwillisf opened #175 "Certificate revoked: Scratch Link won't work on growing number of computers"
### Expected Behavior

Scratch Link should work on all supported computers.

### Actual Behavior

One of the certificates that Scratch Link uses has been revoked. As computers update their certificate information, more and more computers will register that the certificate has been revoked. Any computer which has registered the certificate as revoked will prevent Scratch Link from working correctly

[2020-07-02 13:01] microbit-mark commented on #175
Several micro:bit users have now reported this too. Thanks for diagnosing the issue and providing a fix. Let me know if you need us to do any testing.

[2020-07-02 22:11] #175 closed, assigned to cwillisf

[2020-07-02 22:36] cwillisf commented on #175
This fix will be in version 1.3.54 or higher, or version 1.4.0 or higher.

[2020-07-05 05:57] wwj718 opened #177 "CERT REVOKED"
### Expected Behavior

work with wedo2

### Actual Behavior

![image](https://user-images.githubusercontent.com/3153878/86526501-4befd680-bec7-11ea-8bd7-a80996367a8c.png)

![image](https://user-images.githubusercontent.com/3153878/86526513-6de95900-bec7-11ea-8e11-f02ab9b648b7.png)

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above

[2020-07-05 06:02] apple502j commented on #177
Duplicate of #175 (which is fixed, waiting for the release)

[2020-07-05 10:57] #177 closed, assigned to nobody

[2020-07-06 08:22] microbit-mark commented on #175
Does 1.3.54 or 1.4.0 have a release date, or is there a binary and can provide to users?

[2020-07-06 17:37] cwillisf commented on #175
No release date quite yet, but it's in the testing phase. If we don't find any big problems we'll be releasing it very soon.

[2020-07-07 19:35] BryceLTaylor commented on #175
This has been released for direct download on our site and has been submitted to the stores for approval.

[2020-07-07 21:13] tim-gp commented on #175
Great, thanks @BryceLTaylor - I'll get the 8 year old back to coding tomorrow then.

[2020-07-09 15:14] cwillisf commented on #174
Fixed by a4f7261bd372e5c252fd507e7246a50d2d0750d7

[2020-07-09 15:14] #174 closed, assigned to cwillisf

[2020-07-09 15:19] cwillisf opened #178 "can't be opened because Apple cannot check it for malicious software."
### Expected Behavior

Scratch Link and its installers should open without warnings on all supported configurations.

### Actual Behavior

On macOS 10.15 "Catalina" the user is presented with a warning similar to: `"scratch-link-1.3.57.pkg" can't be opened because Apple cannot check it for malicious software. This software needs to be updated. Contact the developer for more information.`

### Step

[2020-07-09 15:20] cwillisf commented on #178
This happens because the file is not notarized

[2020-07-22 07:35] jsyzthz opened #179 "Windows scratch-link failing with `ERR_SSL_OBSOLETE_VERSION` or similar"
### Expected Behavior

connect to microbit successfully

### Actual Behavior

EDIT by @cwillisf: new problem described in https://github.com/LLK/scratch-link/issues/179#issuecomment-662346868

~~WebSocket connection to 'wss://device-manager.scratch.mit.edu:20110/scratch/ble' failed: Error in connection establishment: net::ERR_CERT_REVOKED
value @ projects.bundle.js:150~~

### Steps to Reproduce

1

[2020-07-22 07:38] jsyzthz commented on #179
my scratch link version is 1.1.46.0

[2020-07-22 08:27] apple502j commented on #179
@jsyzthz Please update Scratch Link.

[2020-07-22 09:25] jsyzthz commented on #179
@apple502j
i download&install the release version（1.3.57.0） from official(msi package)，now i got another error:

`projects.bundle.js:150 WebSocket connection to 'wss://device-manager.scratch.mit.edu:20110/scratch/ble' failed: Error in connection establishment: net::ERR_SSL_OBSOLETE_VERSION`

it seems the wss certificate has some problem with Chrome broswer.

[2020-07-23 11:44] letsgoawaydev opened #180 "Micro:bit not connecting on mac osx 10.13.6"
### Expected Behavior

Micro:bit connects to scratch link.

### Actual Behavior

Shows the error that says that there is no devices found
### Steps to Reproduce
1. download scratch link.
2. open scratch link in microsoft edge for mac browser
3. download .hex file from scratch web to micro bit
4. try to connect using micro:bit extension on scratch.mit.edu (also doesnt work on scratch desktop from t

[2020-07-23 12:13] YanMinge commented on #179
I also have this issue.
 https://github.com/LLK/scratch-vm/issues/2524

[2020-07-23 17:19] cwillisf commented on #179
This seems to affect Chrome-family browsers as well as Firefox.

[2020-07-23 22:50] apple502j commented on #180
@ethpsa09 Does it work on Chrome/Safari/Firefox?

[2020-07-23 23:28] letsgoawaydev commented on #180
@apple502j I have tried chrome, nothing. ill try safari and tell you.

[2020-07-23 23:31] letsgoawaydev commented on #180
safari doesnt work either. Should i try firefox?

[2020-07-23 23:34] letsgoawaydev commented on #180
And Do you want video of whats happening?

[2020-07-24 00:23] apple502j commented on #180
@ethpsa09 Press F12, any error there? if so screenshot it

[2020-07-24 10:03] letsgoawaydev commented on #180
Yep this. https://i.ibb.co/sjxpwYF/yep-i-dont-even-know1.jpg

[2020-07-24 10:04] letsgoawaydev commented on #180
Oh its pixelated hold on
https://ibb.co/MnwyV0R

[2020-07-24 21:14] ahmetlii commented on #180
@ethpsa09, did you give permission to browsers for connecting to Scratch Link?

[2020-07-24 22:33] apple502j commented on #180
@ahmetlii Wait what? That doesn't exist?

[2020-07-24 22:37] letsgoawaydev commented on #180
Yeah i dont think that exists but anyway I think its the scratch link because it also doesnt work on Scratch Desktop from the app store

[2020-07-24 23:00] letsgoawaydev commented on #180
[03aaa863-2fb3-45f7-87b2-2ecab23cd844.zip](https://github.com/LLK/scratch-link/files/4974532/03aaa863-2fb3-45f7-87b2-2ecab23cd844.zip)
video of whats happening in the zip file

[2020-07-25 00:13] letsgoawaydev commented on #180
also i have custom icons that look like big sur

[2020-07-25 00:38] apple502j commented on #180
@ethpsa09 Hmm, there is no error... Are you running Scratch Link? (It's an app, not something you *open* in the browser)
Can you take screenshots of F12 screen on Chrome? (I don't think macOS Edge is supported)

[2020-07-25 00:52] letsgoawaydev commented on #180
yes its running in the video

[2020-07-25 00:52] letsgoawaydev commented on #180
ok ill check chrome

[2020-07-25 01:14] letsgoawaydev commented on #180
[26714b19-d195-4e42-af71-046079044eb0.zip](https://github.com/LLK/scratch-link/files/4974729/26714b19-d195-4e42-af71-046079044eb0.zip)
this happens when i press f12 it does this thing

[2020-07-25 12:13] ahmetlii commented on #180
@apple502j and @ethpsa09 ; if I know right, Scratch Link needs administration permission in setup. Also, browsers need permission to run programs on the computer.

[2020-07-25 12:13] ahmetlii commented on #180
@apple502j and @ethpsa09 ; if I know right, Scratch Link needs administration permission in setup. Also, browsers need permission to run programs on the computer.

[2020-07-25 12:13] ahmetlii commented on #180
@apple502j and @ethpsa09 ; if I know right, Scratch Link needs administration permission in setup. Also, browsers need permission to run programs on the computer.

[2020-07-25 20:32] apple502j commented on #180
@ahmetlii Incorrect:
- Microsoft Store version doesn't need admin permission to install
- You don't have to give browser any special permission - because it's just connecting to a WebSocket

@ethpsa09 Can you right-click the menu bar and click Inspect, then click Console?

[2020-07-26 01:03] letsgoawaydev commented on #180
ok!

[2020-07-26 01:09] letsgoawaydev commented on #180
ok this came up

[code]

[2020-07-26 01:09] letsgoawaydev commented on #180
that was in the console

[2020-07-26 01:09] letsgoawaydev commented on #180
Sorry its so long lol

[2020-07-26 01:10] letsgoawaydev commented on #180
It could be because im using a vpn
ill turn it off and try

[2020-07-26 01:11] letsgoawaydev commented on #180
nup not that

[2020-07-26 03:52] letsgoawaydev commented on #180
Could it help to say that I'm using the direct download link

[2020-07-27 13:13] microbit-mark commented on #180
This has also been reported to us by a user on  Chrome 83.0.4103.116 Mac OS 10.13.6 both with the direct download and app store versions. They have the correct version of Bluetooth and report that the app did work previous to the latest update.

[2020-07-27 13:14] apple502j commented on #180
@microbit-mark Which "previous version"? Previous versions of browser, OS, microbit firmware, etc

[2020-07-27 13:30] microbit-mark commented on #180
@apple502j Previous version of Scratchlink, so prior to the 1.3.57 release

[2020-07-27 13:38] apple502j commented on #180
This is strange. There is currently a bug on Windows machines that on latest Chrome (Chrome 84) you cannot connect to Scratch Link because of old TLS versions being used, but it doesn't seem like this is the case. It's also strange that versions prior to 1.3.57 work, because certificates used are expired...

[2020-07-28 10:43] letsgoawaydev commented on #180
Sorry to stress you guys out lol

[2020-07-28 10:46] letsgoawaydev commented on #180
Should i download the previous version and test if it works?

[2020-07-28 11:57] BWMerlin commented on #179
Here is what I have tried.

Laptop 1 - working
Windows 10 1809 build 17763.1217/17763.1282
Scratch link 1.3.57.0
Firefox 66.0.5/69.0/72.0.2 (Firefox 78.0.2 NOT working)
Edge 44.17763.831.0 HTML 18.17763
Chrome 84.0.4147.89/84.0.4147.105

Laptop 2 - NOT working
Windows 10 1909 build 18363.959
Scratch link 1.3.57.0
Firefox 78.0.2
Edge 84.0.522.44
Chrome 84.0.4147.105

Laptop 3 - Working
Windows 10 1

[2020-07-28 21:43] #179 closed, assigned to nobody

[2020-07-30 15:13] bjrbhre opened #182 "Install scratch-link on MacOS using `brew cask`"
### Expected Behavior

Hi scratch-link maintainers. I hope this is the appropriate way to share this request/question.
brew/cask are very convenient tools to install pkg/app on MacOS.
Scratch is available but Scratch Link is not.
I wanted to make it available. Still you must have you say on this.

**Are you OK with Scratch Link being available through brew cask?**

### Actual Behavior

I've used t

[2020-08-06 20:12] #178 closed, assigned to cwillisf

[2020-08-18 01:54] tsuchm opened #184 "Connection failed due to lack of TLS 1.2 support"
### Actual Behavior

Because modern web browser such as Google Chrome and Edge rejects connections using either TLS/1.0 or TLS/1.1, I failed to connect Scratch to LEGO WeDo 2.0.

### Steps to Reproduce

Connect https://device-manager.scratch.mit.edu:20110/ and see the error message produced by the browser.

### Method to Defuse This Issue

It is possible to allow security exception to connect http

[2020-08-18 04:58] apple502j commented on #184
Should be fixed in the latest version.

[2020-08-18 17:55] cwillisf commented on #184
This seems to be a duplicate of #179 -- please update to version 1.3.66 and see if that resolves the problem. Thanks!

[2020-08-18 18:16] #184 closed, assigned to nobody

[2020-08-18 23:24] tsuchm commented on #184
Thanks for your comment.

However, it arrises another problem.  Although I have installed the latest version of Scratch Link from Microsoft App Store at Aug 19, its version is still 1.3.57.0.  Could you update the registration of Microsoft App Store?

[2020-08-26 20:18] bosnivan commented on #147
Hi! Is there any chance for a hex file to become open source? It should give us more flexibility. Thanks.

[2020-09-02 10:34] letsgoawaydev commented on #180
Should i?

[2020-10-06 05:47] letsgoawaydev commented on #180
@microbit-mark @apple502j i tried using it on my dads big sur beta mac and the one thing thats different is that it asks for bluetooth but on my mac it doesnt

[2020-10-06 22:57] fsih commented on #180
I just tried it with scratch link 1.3.66 and it worked

Try downloading a new version of scratch link: https://scratch.mit.edu/microbit
Some older ones have expired certificates

[2020-12-20 21:47] pepo-k commented on #84
Hi
is there any progress in porting of scratch link to linux?
Can anybody make help here to show hot to get the lego boost working over ubuntu/scrattux?

Peter

[2021-01-06 10:46] jsyzthz commented on #84
i try the go lang and java ,but  it's difficult to implement. but i found a idea - Web Bluetooth.  who use it? like MakeCode

[2021-01-20 14:38] BryceLTaylor opened #185 "Connecting to Micro:Bit fails on first attempt on Windows"
### Expected Behavior

After selecting a microbit from the list of devices, scratch will become connected to that device.

### Actual Behavior

Selecting the microbit causes it to show a check mark and the name of the micro:bit stops scrolling across it, but then the modal in Scratch just hangs on "connecting..." and sometimes becomes an error message.

This issue is intermittent, and it usually w

[2021-01-23 02:08] cwillisf opened #186 "Scratch Link does not build for Apple Silicon / M1"
### Expected Behavior

Scratch Link should run natively on all current and recent macOS machines.

### Actual Behavior

Scratch Link runs natively on Intel-based macOS, but only runs under Rosetta 2 on Apple M1 machines.

### Discussion

Swift 5.3, which comes with Xcode 12, is required for native Apple M1 support. In theory, we should be able to add `--arch x86_64 --arch arm64` to the `swift buil

[2021-01-23 02:11] cwillisf commented on #186
Investigation notes: what if we try to fix the Perfect networking libraries ourselves?

The good news is that it appears that the code changes would be relatively small. The bad news is that the necessary change is in a core library in the Perfect family of libraries. This is bad news because in order to fix the issue it appears we'd need to fork quite a few of their repositories for no other reas

[2021-01-23 03:11] cwillisf commented on #186
_Investigation of alternative networking libraries has been moved to #187_

[2021-02-01 21:51] cwillisf commented on #186
To investigate: is [NIOWebSocket](https://apple.github.io/swift-nio/docs/current/NIOWebSocket/index.html) from https://github.com/apple/swift-nio a viable option?

[2021-02-04 00:03] cwillisf opened #187 "PerfectlySoft network libs are no longer maintained"
### Expected Behavior

In general, the scratch-link codebase should only use up-to-date and actively maintained dependencies. This is even more important for dependencies related to network and security features.

### Actual Behavior

The macOS version of Scratch Link uses the PerfectlySoft "Perfect" family of libraries for HTTP, SSL/TLS, and WebSockets. The PerfectlySoft group seems to have been

[2021-02-04 00:09] cwillisf commented on #187
_(moved from #186)_

Investigation notes: what if we switch from Perfect to another third-party Websocket server library?

It looks like Vapor is the only reasonable third-party candidate currently available. I experimented with both Vapor 3 and Vapor 4.

Vapor 4 seems to support everything we need, but it only support macOS 10.15 and above. Scratch Link currently supports macOS 10.10 and above, a

[2021-02-04 00:10] cwillisf commented on #187
To investigate: is [NIOWebSocket](https://apple.github.io/swift-nio/docs/current/NIOWebSocket/index.html) from https://github.com/apple/swift-nio a viable option?

[2021-02-04 00:15] cwillisf commented on #137
Q: Do browsers exempt `127.0.0.1` and/or `localhost` from mixed-content restrictions?

A: According to [this page on MDN](https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content), some browsers do. They mention that recent versions of Firefox and Chrome allow it, but Safari does not.

[2021-02-07 16:39] swolff20 opened #188 "Can not connect to WeDo 2.0 with Scratch-Link on macOS 10.13.6"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

No connection possible

### Steps to Reproduce

install and start (!) scratch link 1.3.67
use we do 2.0, try to connect using
- scratch from Safari
- standalone Scratch App 3.18.1
- connect to we do from scratch
- connection is no found (it is searching the whole time)

interesting:
- Lego Wedo App can connect to the

[2021-02-08 10:56] lubo-fr commented on #147
Hi!
As some important blocks in Scratch are missing, such as IO Pin read and write, in order to implement them is there a way to get at least some specifications for the hex file ?
[Scratch micro:bit extension](https://github.com/LLK/scratch-vm/blob/develop/src/extensions/scratch3_microbit/index.js) refers to a missing project https://github.com/LLK/scratch-microbit-firmware/blob/master/protocol.m

[2021-02-08 21:21] cwillisf commented on #147
@khanning or @ericrosenbaum, any thoughts on this discussion?

[2021-02-13 17:05] swolff20 commented on #188
Want to dd that Scratch 3.19.2 shows the same behavior. It is stuck in "I connect..."

Question: I have 2 Bluetooth modules on the system, the internal is deactivated (because it does not support bluetooth 4) while an external USB Bluetooth module is plugged in and chosen as the default one. Could this be a reason ?

[2021-02-20 22:57] ekaggrat opened #189 "wont connect what so ever"
### Expected Behavior

the device is supposed to connect to scratch

### Actual Behavior
it never connects on any platform . i tried both windows 10 on a surface and macos on a macbook pro

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

windows 10 macos 10.15.7

[2021-02-20 23:23] apple502j commented on #189
Do you have Internet connection?

[2021-02-21 01:50] ekaggrat commented on #189
yes a broadband

[2021-02-21 17:21] javascript-programmer commented on #180
hmm i think its blocked cuz it said that in the error you posted

[2021-02-25 16:38] BryceLTaylor commented on #189
What devices are you referring to?

[2021-02-26 21:22] smarx80 opened #190 "Micro:bit disconnects after few seconds"
### Expected Behavior

After connecting via BT with Scratch Link active to my PC (Win10), I'm expecting to have my micro_bit connected for all the time.

### Actual Behavior

After connecting via BT with Scratch Link active to my PC (Win10), my micro:bits are disconnecting.

### Operating System and Browser

Windows 10, latest version of scratch link, latest bootloader of microbit (v1), latest HEX

[2021-02-27 09:19] apple502j commented on #190
micro:bit uses BLE, not BT. (BT is only used for EV3.)

[2021-02-27 22:29] smarx80 commented on #190
thanks apple502j for your clarification, although I don't know how it could help. Whether it's the bluetooth or bluetooth low energy, the problem is that the micro:bit disconnects from scratch link after 1-2 seconds. From micro:bit support says that it shouldn't do that, and to ask here to identify the possible bug. I've tried disabling energy saving from bluetooth devices in windows device manage

[2021-02-27 22:47] smarx80 commented on #190
Maybe I have solved! As in so many situations, the answer was much simpler than expected. I had paired the devices via windows bluetooth, because I thought it was necessary for scratch link to detect them. Removed from there, everything worked properly. Thanks. Simone.

[2021-02-28 06:53] ekaggrat commented on #189
microbit as well as lego boost

On Fri, Feb 26, 2021 at 12:38 AM Bryce Taylor <notifications@github.com>
wrote:

--
ekaggrat singh kalsi
[m]: +8618210281181

[2021-03-04 19:36] BryceLTaylor commented on #190
I'm glad you figured it out!

[2021-03-04 19:36] #190 closed, assigned to nobody

[2021-03-05 16:34] easrng opened #191 "Distributing private keys is not good"
### Expected Behavior

Scratch Link should not distribute a private key in the app bundle.

### Actual Behavior

Scratch link distributes a private key in the app bundle.

### Steps to Reproduce

Download the zip of Scratch Link for Mac. Unzip the file, and use p7zip to extract the pkg. This process will result in a file named `Payload~` which you should extract with p7zip to reveal `Scratch Link.

[2021-03-19 11:52] marron9999 opened #192 "Unable to receive micro: bit uartWriteString with startNotifications"
### Expected Behavior

Hope to be able to receive with _onMessage (base64)

### Actual Behavior

_onMessage (base64) is not called

### Steps to Reproduce

const BLEUUID = {
	service: '6e400001-b5a3-f393-e0a9-e50e24dcca9e', // UART_SERVICE
	rxChar:  '6e400002-b5a3-f393-e0a9-e50e24dcca9e', // TX_Characteristic
	txChar:  '6e400003-b5a3-f393-e0a9-e50e24dcca9e'  // RX_Characteristic
};

this._ble.read

[2021-03-25 20:37] BryceLTaylor commented on #192
Can a user only experience this with a custom extension?

[2021-03-25 22:52] marron9999 commented on #192
Yes.  I made another extension.  It is scratch-microbit extension with the UUID changed to UART.
OK:  this._ble.write(BLEUUID.service, BLEUUID.txChar, data, "base64", true)
NG:  this._ble.read(BLEUUID.service, BLEUUID.rxChar, true, this._onMessage)
　　　=> this._onMessage is not called.
I want you to be able to  with "Notify" and "Indicate".

[2021-04-06 14:11] eqot commented on #192
```rxChar``` and ```txChar``` are different from the comments.

[code]

Are these correct?

[2021-04-06 21:50] marron9999 commented on #192
Yes, please see code of scratch extension

https://github.com/marron9999/sc3-mbitlink/blob/master/scratch-vm/src/extensions/scratch3_mbitlink/index.js

const BLEUUID = {
	service: '6e400001-b5a3-f393-e0a9-e50e24dcca9e', // UART_SERVICE
	rxChar:  '6e400002-b5a3-f393-e0a9-e50e24dcca9e', // TX_Characteristic
	txChar:  '6e400003-b5a3-f393-e0a9-e50e24dcca9e'  // RX_Characteristic
};

 this._ble.read(BL

[2021-04-14 09:09] nathanrona opened #194 "Replace Scratch-Link with Web-Bluetooth API"
With the Web-bluetooth API (https://web.dev/bluetooth/)the need to install Scratch-link helper program on computer in order to access bluetooth interface. I.e. the use of Scratch-link can be replaced with using the Bluetooth API to directly connect to Bluetooth. The API is currently supported in Chrome (with derivatives such as Edge and Brave), Opera and Samsung browsers.

There are several advant

[2021-04-14 16:22] apple502j commented on #194
WebBluetooth is not supported on any of the four main browsers that Scratch support (Edge 16, Chrome 63, Firefox 57, Safari 11) - and three of the four doesn't have it on latest version either. (note that we still fully support Legacy Edge)

Opera, Vivaldi, and Samsung Browser are not supported.

[2021-04-14 17:44] nathanrona commented on #194
According to following link, it is supported on Chrome from version 56,
Edge 79, opera 43 and Samsung 6.0.
https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API

On Wed, Apr 14, 2021 at 7:23 PM apple502j ***@***.***> wrote:

[2021-04-14 19:21] nathanrona commented on #194
Given that Chrome alone has a market share around 70%, I think that using
web-bt api should at least be offered as alternative to installing
Scratch-link (keeping Scratch-link for browsers not supporting bt api).

This will give support for platforms not currently supported, Android,
Linux, smart tv (Chrome, opera, Samsung browsers)

My personal experience with Scratch-link has not been great, wit

[2021-07-30 12:05] ghost opened #195 "A question about source of .hex doc to connect scratch"
### Expected Behavior

My **_Micro:Bit_** successfully connect _**scratch**_

### Actual Behavior

can't connect

### Steps to Reproduce

need a document named  like scratch-microbit-****.hex

### Operating System and Browser

_e.g. Microsoft 10

[2021-08-05 17:32] apple502j commented on #195
Hex file is available at https://scratch.mit.edu/microbit. It is closed source for some reason.

[2021-08-29 12:32] aleks3001 commented on #125
Hello! I have the same problem. Any solutions?

[2021-09-01 21:44] johoul opened #196 "Trouble Connecting with Lego Boost from Windows 10"
Just trying to setup my kid's new Lego Boost kit for use with scratch.

When I go to the Lego Boost section of  scratch.mit.edu and Click "start searching" I expect to see a representation of the Boost Block connecting (according to various youtube videos)

Instead it reverts to the "1. Check you have  Scratch Link Running. 2. Check that Bluetooth in enabled." dialog.

Cycle repeats each time I cl

[2021-09-02 20:53] BryceLTaylor commented on #196
Please use the forums (scratch.mit.edu/discuss) for general troubleshooting from users in the Scratch community.  Github issues are for specific issues in the code.

[2021-09-02 20:53] #196 closed, assigned to nobody

[2021-09-02 21:24] johoul commented on #196
Thanks Bryce - I have tried as you suggested but no useful responses yet.  Worryingly, I've seen many people complain in those forums that Scratch-link isn't working for their Boost either. I've also seen similar complaints on YouTube demos of Boost working with Scratch that it not working that well anymore. I've asked the author of one particular high quality video if his system still works ok bu

[2021-09-03 08:13] johoul commented on #196
Ok guys, here's the fix - You need to download Scratch 3 and run locally - then  scratch link finds boost no problem!

[2021-09-03 14:50] terado0618 opened #197 "Do not alert if port is conflicted by another Scratch Link"
### Proposed Changes

Scratch Link does not show alert dialog about port conflict if the port is used by another Scratch Link.

### Reason for Changes

On our workshops with Scratch 3.0 and Scratch Link, some attendees were surprised at an alert dialog which looks like a serious problem, especially for beginners who do not understand technical terms or English.

If the port is used by another Scra

[2021-09-07 19:36] Pythone commented on #84
I tried using pyscrlink and it worked well. (repo: https://github.com/kawasaki/pyscrlink)

[2021-09-07 19:37] Pythone commented on #84
It turns out that this was renamed to pyscrlink

[2021-09-13 02:39] Naleksuh commented on #137
@cwillisf Question, why not both ws:// and wss:// ?

[2021-09-20 20:24] cwillisf commented on #137
@Naleksuh hmm, that might be a good idea. Scratch Link could listen in both ways, and clients could try to contact `ws://127.0.0.1` or `ws://localhost` then, if blocked, fall back to `wss://device-manager.scratch.mit.edu`. It would be interesting to give this a try!

[2021-09-20 21:18] Naleksuh commented on #137
Yeah, it sounds like the issue is that it can't be ws;// only, but that doesn't mean wss:// only, there can just be both. Yeah, it'll be interesting to see if it works.

[2021-09-22 11:45] letsgoawaydev commented on #180
Thanks, but I also no longer have an iMac to test this. I now have a windows with no bluetooth driver so I still use my dads iMac on big Sur. If you guys have the same version and its working PLEASE post video footage to help others and the scratch team

[2021-09-22 11:47] letsgoawaydev commented on #188
This also happened to me here but with a micro:bit. #180

[2021-10-21 20:26] #189 closed, assigned to nobody

[2021-11-05 05:51] bricklife commented on #20
I noticed this problem while developing my original SPIKE Prime extension published on the following Scratch MOD:
https://bricklife.com/scratch-gui/

This problem still exists only in the Windows version. As you know, this is because the following part depends on "Direct Replies" protocol for EV3:
https://github.com/LLK/scratch-link/blob/11acbe92618fc90da90d1c43a929de23dec8f992/Windows/scratch-lin

[2021-11-23 16:17] microbit-mark opened #198 "micro:bit not found when using ScratchLink in macOS 12"
### Expected Behavior

micro:bit should connect to Scratch

### Actual Behavior

Following process set out in https://scratch.mit.edu/microbit no device is found by Scratch in the browser

![image](https://user-images.githubusercontent.com/31242877/143061278-c73538f0-8f63-4339-8b1f-58dafec1ad6b.png)

ScratchLink is running but micro:bit is not visible under Bluetooth devices or in Scratch

Scratch

[2021-11-24 12:29] microbit-mark commented on #198
User reports that Scratch Link did work as expected in macOS11 Big Sur, so this appears to relate to the upgrade.

[2021-12-16 18:40] cwillisf commented on #198
Thanks for the report! I'm sorry to hear about the trouble. It seems a lot of applications are having problems with Bluetooth in macOS 12. We'll try to figure out the problem but I can't promise it'll be quick.

Here's an example of the kind of thing I see when looking for information about Bluetooth on macOS 12: https://developer.apple.com/forums/thread/694146

[2021-12-27 12:55] wawrzek commented on #149
Upvote.

[2021-12-27 12:56] wawrzek commented on #84
Is there any updated on Linux support?

[2021-12-27 18:14] notAPanda commented on #194
I have recently bought Lego Boost. Scratch Link does not work (unable to connect) on macOS. I managed to connect using Web Bluetooth API and everything works... The problem is... my son is not able to use it because it's javascript (not scratch).

In my opinion... If scratch-link does not work for me... it's better to use something universal like Web Bluetooth.

[2022-01-01 15:38] zdila commented on #84
I have written scratch-link in Node.js for Linux and Intelino smart train: https://github.com/zdila/intelino-smart-train-scratch-link-linux

Code is quick and dirty (written in cca one day including studying of D-BUS and it's Bluetooth API) and it is hardcoded to search only Intelino devices. Feel free to use it for the inspiration.

[2022-01-03 04:31] Pythone commented on #84
https://github.com/kawasaki/pyscrlink also works well. Tested on LEGO MINDSTORMS EV3

[2022-01-07 14:30] markakis-sch commented on #84
+1 for official Linux support.

I'm using Scratch 3.0 and [kawasaki/pyscrlink](https://github.com/kawasaki/pyscrlink) on Linux (Ubuntu). I confirm that is stable and works fine with Lego WeDo 2.0 and EV3.

I also tried [zdila/scratch-link-ble-linux](https://github.com/zdila/scratch-link-ble-linux). I was able to connect a WeDO 2.0 but could only use the "set light color to" command. I will continu

[2022-01-24 19:09] arivero commented on #188
In my case I got a random success connecting both to WeDo and Boost, but only after I accidentally also started the old Device Manager. I have been unable to reproduce :-(

[2022-01-24 19:14] arivero commented on #194
Hi notAPanda, could you link a gist of your code?

[2022-01-24 19:20] nathanrona commented on #194
This is the javascript I used to make a Unity plugin for web-blutooth https://github.com/healthGamez/WebBTCscSensorPlugin--public/blob/main/Assets/HealthGamez/WebBTCycleSpeedCadencePlugin/Plugins/jspre.jspre

[2022-01-24 19:28] arivero commented on #194
thanks!

An argument against the idea is that one wants it to work not only in the browser but also in the scratch offline app. And Scratch-Link is expected to link other devices not only BLE... So perhaps the point could be to try to change the BLE module in Scratch Link to work via the web bluetooth api?? Not sure, just thinking aloud.

[2022-01-24 19:35] arivero commented on #198
Could it be that recentDevices is not populated correctly? I got to my surprise connectivity to Lego devices after I started the old Scratch Device Manager, which has no sense except that perhaps it hit the good point in the BLE stack. I have been unable to reproduce :-(

[2022-01-25 07:41] nathanrona commented on #194
@arivero , don't understand that argument. Given that  scratch-desktop is based on Chromium, which include the API, why should web-ble API not work for scratch-desktop?

[2022-01-25 12:46] arivero commented on #194
Well, you are correct that desktop and web is the same.  In fact now that I have compiled scratch-link I find easy to connect from chrome than from the desktop app, because both of them reject the self-signed certificate, but it is easier to tell chrome to proceed.

My main argument was that all device management, not only ble, was supposed to be delegated in an external app, namely this one, scra

[2022-01-25 13:44] nathanrona commented on #194
There is a web-API for usb as well https://developer.mozilla.org/en-US/docs/Web/API/USB. As for wifi, no need for browser API (or scratch link) as it is IP communication to begin with.

[2022-01-25 14:49] nathanrona commented on #194
Basically what is needed to adapt to web-ble is to rewrite https://github.com/LLK/scratch-vm/blob/5aa83b912ff09b4f2d57a31fe37fcbb4c43fab43/src/io/ble.js#L3 to use the the web-ble api instead of scratch-link web-socket. I've forked and try to see what I can do.

[2022-01-25 15:09] arivero commented on #194
Ah I see what you mean. I had expected scratch link to act as a central hub
for the extensions, but no, it only provides communication. So really the
point is to rewrite the ble-based extensions to use web-ble. It makes sense.

Meanwhile, at bricklife it seems they are trying to update scratch-link to
work in newer versions on MacOS.

El mar, 25 ene 2022 a las 15:49, Nathan Rona ***@***.***>)
escr

[2022-01-25 16:52] nathanrona commented on #194
Not the extension but the ble io-class of the core (also bt class).  Extensions such as microbit and lego uses this class methods to establish link, so if you rewrite it there is no need to modify the extensions themself.
If you look in io liberary you see that other IO classes such as mouse and keyboard input are using native functions so it is only natural that BLE and BT should as well.
As for

[2022-01-28 06:17] bricklife commented on #198
It seems that only BLE session works fine on macOS 12.3 beta. BT session still have some problems, but I think it's getting better.

[2022-01-30 04:36] delfuego commented on #198
I'm having the exact same issue trying to use Scratch Link to connect to LEGO Boost, on macOS 12.2 on a MacBook Pro (14", Apple Silicon processor). I'll subscribe to this issue to see if anything comes up in terms of a fix — and I'm happy to provide any debug information that might be helpful.

[2022-01-30 12:06] arivero commented on #198
The suggestion of recompile and keep the process "active" (ie, with the dot
in the dock bar) worked for me

El dom, 30 ene 2022 a las 5:36, Jason Levine ***@***.***>)
escribió:

[2022-01-30 12:12] arivero commented on #198
Basically I compiled bricklife's fork and followed the suggestions discussed here:

https://github.com/bricklife/scratch-link/commit/a521a488f31688869bebab45a84ba4e882e30f01#commitcomment-64576240

- I used a certificate from a shipped scratch-link app
- I compiled the /xcode13 branch
- I deleted the lines  that hide the dock icon
[code]

[2022-01-31 22:52] calerga opened #200 "TLS private key distributed in Scratch Link"
### Expected Behavior

The TLS private key for `device-manager.scratch.mit.edu`, which resolves to `127.0.0.1`, shouldn't be distributed. See Sectigo's [Certificate Policies](https://sectigo.com/CPS) section 4.9.1 (Sectigo is the certificate authority; this very link is in the certificate). The TLS private key enables mitm attacks between Scratch and Scratch Link.

### Actual Behavior

The TLS pri

[2022-02-01 07:13] apple502j commented on #200
Note that this has been a common knowledge since at least 2021. See #191
This could also compromise the scratch.mit.edu domain cookies. (Demonstrated by @easrng in a now-deleted? issue)

[2022-02-01 07:41] apple502j commented on #200
@calerga Could you revoke the cert? At least one of them is from Let's Encrypt, so https://letsencrypt.org/docs/revoking/ could be used. I'm stuck at "SubjectPublicKeyInfo" part though.

[2022-02-01 08:04] calerga commented on #200
@apple502j Yes. Lost private keys (what's bracketed by `BEGIN PRIVATE KEY`/`END PRIVATE KEY` in the decrypted `scratch-device-manager.pem.enc`) can be uploaded to Sectigo's [revocation portal](https://secure.sectigo.com/products/RevocationPortal).

[2022-02-01 14:05] apple502j commented on #200
Seems like it's already revoked.

[2022-02-01 16:24] sycamedia commented on #188
I'm suddenly having trouble connecting WeDo 2.0 on macOS 11.6. I'm using Scratch 3.27.0 for desktop and Scratch Link 1.3.67. After pressing "Start searching," Scratch skips immediately to the "Check Bluetooth/Scratch Link" screen. Same problem in the browser version of Scratch (Firefox 96.0.3). Scratch Link is on, Bluetooth is on, WeDo hub is able to connect to other devices. I've tried re-install

[2022-02-01 16:40] apple502j commented on #188
@sycamedia The TLS certificate used in Scratch Link is revoked due to terrible design flaw. This is not good, but is better than someone abusing it to intercept browser cookies.

[2022-02-01 19:30] easrng commented on #200
The aformentioned demonstration was https://github.com/easrng/scratch-link-exploit which can automatically download and decrypt the key.

[2022-02-01 22:25] easrng commented on #200
Note that this doesn't require local code execution to exploit. If you can intercept DNS then whenever users try to connect with Scratch Link you get their session ID and CSRF token.

[2022-02-03 19:37] arivero commented on #200
So this is high severity, is it? Or is there a workaround to allow the revoked certificate? I guess one could extract it, with the hack, and add to the chain locally.

EDIT: ok, I see, it is not high severity because local users can always go to the keychain (at least in OSX) and give trust to a revoked certificate. Not sure which is the workaround for linux and windows, but I guess there is a sim

[2022-02-03 20:15] easrng commented on #200
@arivero This is high severity because it means using any Scratch-link-requiring project on an untrusted network could result in your account being taken over.

[2022-02-04 19:07] cwillisf commented on #200
Hi everyone! Thanks for your efforts in investigating this security issue.

First off: in the interest of keeping our users safe I would appreciate if you could contact us directly, at least initially, about vulnerabilities and exploits in the future. This kind of approach is sometimes called "responsible disclosure" or "[coordinated vulnerability disclosure](https://en.wikipedia.org/wiki/Coordina

[2022-02-04 19:32] apple502j commented on #200
@cwillisf Thanks for posting!

I'd like to ask a few questions regarding the issue:

1. The issue was already publicly known at least back in March 2021, when a user posted the issue #191. Was this issue moved to private repository for further consideration, or was it just straight up deleted?
2. Scratch Link program, as far as I can remember, is out-of-scope for the private bug reporting program.

[2022-02-04 20:08] cwillisf commented on #200
Good questions!

1. Issue #191 was moved to a private repository, as we usually do with security-sensitive issues. Honestly, this issue will probably move too, for the same reason, but I wanted to allow for some conversation first. I wish there was an easy way to leave a "this issue was moved" notification! It's a little tricky, though, since even the issue title contains sensitive information.
2.

[2022-02-04 20:58] calerga commented on #200
Two words to explain why I started this issue. I know that a "user" server with tls but without a fixed ip or dns is impractical. So when I noticed it's precisely what Scratch Link does, I knew something was fishy. I checked Sectigo's CP, they're very clear. The extreme ease to revoke anonymously a certificate "just" with the private key is also pretty revealing.

You're bound by your agreement wi

[2022-02-04 23:03] cwillisf commented on #200
@calerga, I appreciate your concerns but I disagree with your risk assessment. I'd also like you to consider that I believe we're both on the same side here: we'd both, I assume, like Scratch users to be able to use Scratch with hardware devices, and we'd both like this to be possible without security risks.

I assure you that we've been looking for a solution to this problem since before Scratch

[2022-02-04 23:54] calerga commented on #200
@cwillisf, I understand very well that the situation is difficult. Any alternative giving the same functionality to Scratch users (transparent connection to Bluetooth devices from all major browsers) cannot be implemented in a hurry. Some ideas you could consider: serving everything, Scratch included, from a plain local http/ws/proxy server; using a WebRTC data connection between Scratch and Scrat

[2022-02-04 23:59] petrusek commented on #200
I agree that this really is a hard problem to solve...
I don't know what the other (more complicated) suggestion was, but since you asked (@cwillisf), I might have one suggestion too. To use **WebBLE**. I know it is not a solution to Scratch Link's problem, but it could be a solution how to enable your users to connect BLE devices to Scratch. WebBLE adoption is pretty good (IMHO) and maybe it coul

[2022-02-05 00:21] easrng commented on #200
WebBLE is only available in Chromium-based browsers.

As for communication methods, most browsers treat localhost as secure, so that might work. I assume you tried that though. Another solution is Native Messaging with a browser extension, and yet another is the WebRTC based one I remember suggesting last time. Probably the ideal solution would be native messaging where supported and maybe also We

[2022-02-05 00:43] calerga commented on #200
@easrng Yes, the simplest solution would be plain http to 127.0.0.1 (I mean just for Bluetooth support via a new Scratch Link, keeping Scratch served from the cloud via https). WebRTC is nice in theory, difficult in practice (huge heap of protocols, few implementations, helping servers required...)

[2022-02-05 01:50] arivero commented on #200
A fascinating, and anomalous IMHO, thing of the https architecture is that localhost needs a signed certificate at all. And that it does not come by default in the OS.  Or wait, is it that you can not use localhost because CORS problems?

Because if CORS problems can be circumvented, a simple solution could be to allow to enter the scratch link domain name (making sure that it points to 127.0.0.1

[2022-02-05 02:04] arivero commented on #200
As for revocations, it you think they will keep happening, then perhaps in the documentation it should be explained how to revalidate locally a revoked certificate.  It can still be done in OSX, and they are paranoid about this kind of things, so I would expect that it can be also done it Win and Linux.

[2022-02-05 02:59] easrng commented on #200
It doesn't. Serve a file containing
[code]
then load it from a localhost web server. Loading it as `http://localhost/` alerts true, so does `http://127.0.0.x/`, but oddly not `http://[::]/`.

[2022-02-06 08:05] ZeroTech-SM commented on #188
https://user-images.githubusercontent.com/99115769/152672472-a83966d5-7a33-4c98-bf57-e4fbaa0f7f2a.mov

I attached what happed with macOS 10.13.6.
I hope this will helpful to solve the problem.

[2022-02-07 19:23] colbygk commented on #200
@easrng It does require HTTPS because if it is HTTP that mixes schema types on the same webpage, which, will not be allowed by the web browser due to the same-origin policy.

[2022-02-08 02:36] apple502j commented on #200
@colbygk In newer browsers, `127.0.0.1` is exempt from mixed content restriction. (Not same-origin policy; WebSocket is not restricted by SOP.) See https://github.com/LLK/scratch-link/issues/137#issuecomment-772918857

The problem is that we need to drop Safari support if we use this approach.

[2022-02-09 11:35] microbit-mark opened #201 "Scratch Link no longer able to locate micro:bit"
Multiple users reporting that they cannot connect micro:bit in a variety of OS and browser combinations. Maybe related to #198

### Expected Behavior

micro:bit is connected to Scratch

### Actual Behavior

micro:bit is not found

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

Steps to reproduce the behaviour:
Follow steps in

[2022-02-09 13:20] apple502j commented on #201
See #200 - TL;DR: The program had a terrible design in terms of security, like [Spotify did back in 2017](https://www.feistyduck.com/bulletproof-tls-newsletter/issue_29_cisco_and_spotify_ship_private_keys_in_applications).

[2022-02-09 14:30] microbit-mark commented on #201
Thanks, @apple502j, after reading through, I understand the issues are related.

As a workaround using the `--ignore-certificate-errors flag ` in chrome resolves the issue for me on Windows 10, but I would not want to recommend this for people in general use.

<img width="921" alt="image" src="https://user-images.githubusercontent.com/31242877/153221555-85b24fbb-2510-4eb3-b333-109fdc0c278d.png">

[2022-02-09 15:05] colbygk commented on #200
@apple502j Part of our basic principles are to work with the devices and software that are in folks' hands, not the ones that we want/hope they have in their hands. With major browsers not supporting mixed schema use on localhost, this potentially excludes a very large part of the potential user base.

Put another way, we are skating to where the hockey puck is going to be, not where we want it to

[2022-02-09 15:25] easrng commented on #200
Another solution would be issuing certs per-device with letsencrypt and the dns01 challenge.

[2022-02-09 15:49] BrickEducation opened #202 "ScratchLink no longer works"
### Expected Behavior
scratchlink worked fine until yesterday BUT today nothing at all. This happens on all my 10 PCs and on the school PCs (win 10, hp or lenovo). It is therefore impossible to use wedo2 and not even Lego boost or micro: bit

### Actual Behavior
A) An allert says that scratchlink not work, not installed or bluetooth not active. BUT with wedo2 native app everything works perfectly!

[2022-02-09 15:50] BrickEducation commented on #201
also DESKTOP scratch have scratclink problem

[2022-02-09 16:06] colbygk commented on #200
@easrng Possibly, when I explored this last year, letsencrypt would throttle the ability to re-issue certs and complicate the issue. Also, DNS01 challenge resolution would require that the clients somehow have the ability to update the DNS information themselves which would require a much higher lift and would also be quite brittle.

[2022-02-09 16:06] calerga commented on #200
@easrng But then the server must have a name and be reached from the outside. You'd need dns and often nat traversal. Many Scratch users don't have that. Maybe for the dns, Scratch could provide a dynamic solution which doesn't require any configuration from the user. But nat traversal is complicated to configure and risky, and probably not possible on mobile networks.

[2022-02-09 16:06] colbygk commented on #200
@easrng Also, these all require having a working internet connection, something we cannot assume as there is a large proportion of the user base using the offline electron based application and scratch-link.

[2022-02-09 16:09] calerga commented on #200
@colbygk If Scratch is local like in electron, you could skip completely tls (http and ws everywhere, no mixed content).

[2022-02-09 16:13] colbygk commented on #200
@calerga That is true, but this is also multiplying support issues that can make it more difficult to deliver working software to end users. If the pathway to getting to scratch-link differs on a per platform basis, this adds complication that can lead to other issues that are just best avoided entirely.

It is very important to keep all of these issues in mind rather than focusing on one aspect o

[2022-02-09 17:13] colbygk commented on #202
Related: #200

[2022-02-09 20:38] easrng commented on #200
SOP is not an issue when you control the server, just add CORS headers.

[2022-02-09 22:14] BrickEducation commented on #200
https://www.brickeducation.it/scratchlink-non-funziona/

For teacher need alternative while Scratchlink is on repair mode

[2022-02-09 22:21] BrickEducation commented on #202
A rapid alternative while ScratchLink is on "repair mode" for all teachers having robotic courses at school in these day
https://www.brickeducation.it/scratchlink-non-funziona/

[2022-02-10 21:18] BryceLTaylor commented on #202
Tracking this work in #200

[2022-02-10 21:18] #202 closed, assigned to nobody

[2022-02-10 21:19] BryceLTaylor commented on #201
Closing in favor of #200

[2022-02-10 21:19] #201 closed, assigned to nobody

[2022-02-11 17:11] cwillisf commented on #200
For folks currently having trouble running Scratch Link:

- If you have Android tablets or Chromebooks, you might be able to use this app as a workaround: https://play.google.com/store/apps/details?id=org.scratch
   - This app has "Scratch Link"-like functionality built into the app, and that functionality is unaffected by the current Scratch Link issue.
- We are actively working on a "quick fix"

[2022-02-11 17:40] easrng commented on #200
For Windows you can temporarily patch your computers with https://github.com/easrng/scratch-link-fixer (It would be easy to port to Mac but I don't have a Mac so I can't do it rn)

[2022-02-11 17:41] BrickEducation commented on #200
A good alternative is here
[https://www.brickeducation.it/scratchlink-non-funziona/](url)

[2022-02-11 17:51] easrng commented on #200
@BrickEducation That only works in Chrome, my patcher works on pretty much any browser except Safari.

[2022-02-11 17:58] BrickEducation commented on #200
You don't need to run Scratchlink to play with micro:bit or BLE (WEDO2) devices when your browser is Chrome, Edge or 'Web Bluetooth API' supporting one (the browser in Chromebook, Scrub in iPad, like that).

The Xcratch editor is a PWA (Progressive Web Apps), which means that once you access it, you can use it without any further Internet communication. You can also install it on your local machin

[2022-02-11 19:14] #200 closed, assigned to cwillisf

[2022-02-14 11:11] anz-ryu commented on #198
oh, i have same problem with this,
my micro:bit is v1.3
interface version 0249
scratch Link 1.3.82
macOS version 11.4
chorme version 98.0.4758.80

[2022-02-22 17:34] Oren-Lindsey commented on #198
I'm having the same issue:
macOS v. 12.2.1
Scratch Link 1.3.82 d5ccbe7
Browser: safari Version 15.3 and Chrome 98.0.4758.102

[2022-02-24 21:56] #160 closed, assigned to nobody

[2022-02-26 14:45] wenchao-cui opened #205 "No Devices Found on Mac OS 12.2.1 to connect Wedo 2.0 device LPF2 Smart Hub 2 I/O"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

1. LEGO Wedo 2.0 App:  Connect the device OK
2. LEGO Wedo 2.0 App:  Disconnect bluetooth device.
3. Open Scratch Link
4. Open Scratch
5. Add Extension: Wedo 2.0
6. Start Searching
7. Press the button on the device
8. No Devices Found

![ScreenShot 2022-02-26 2

[2022-03-03 21:41] BryceLTaylor commented on #205
This appears to be the same issue as https://github.com/LLK/scratch-link/issues/198

[2022-03-03 21:41] #205 closed, assigned to nobody

[2022-03-03 21:41] wenchao-cui commented on #205
邮件已收到，这是自动回复

[2022-03-15 06:07] terado0618 commented on #198
With Scratch Link 1.4.3 and macOS 12.3, micro:bit has been successfully found and connected.

[2022-03-17 20:49] rschamp commented on #149
Tracking in #84

[2022-03-17 20:49] #149 closed, assigned to nobody

[2022-04-11 07:41] GKriti commented on #198
Guys,
Is it working for macOS 12.3.1, scratch link 1.4.3?

It is not working for me with the above :(

[2022-04-14 20:57] #147 closed, assigned to nobody

[2022-05-24 09:57] nerlihmax opened #206 "BLE JSONRPC: "characteristicDidChange" params doesn't contain "serviceId" adn"
Scratch Link on macOS doesnt send fields "serviceId" and "characteristicId" in { method: "characteristicDidChange" } notifications.

<img width="755" alt="Снимок экрана 2022-05-26 в 16 12 02" src="https://user-images.githubusercontent.com/17108273/170457412-0e4f84fd-1565-4b6a-8b8a-69e209fb80e1.png">

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Act

[2022-06-25 13:30] martinwork commented on #198
Just tested with M1 mac mini and macOS 12.4, Safari 15.5.
The website at scratch.mit.edu will not link via Scratch Link, but the Scratch app v3.29.1 appears to work fine.

[2022-06-27 01:57] bricklife commented on #198
Scratch Link 1.4.x now does not support Safari. Read this section: https://github.com/LLK/scratch-link#secure-websockets

[2022-06-27 08:54] martinwork commented on #198
Many thanks for pointing to that @bricklife

It's seems to be working for me in Chrome.

[2022-07-14 14:41] cwillisf opened #208 "Can't find EV3 on macOS 12.4"
### Expected Behavior

Scanning for an EV3 should detect any nearby EV3 on any supported system.

### Actual Behavior

On my macOS 12.4 computer, Scratch Link cannot find any EV3.

Internally, I've noticed that the "minor device class" is being reported by macOS as 0, even though the EV3's actual device class is 1. Because of that, the EV3 does not pass filtering and is not reported. The "major de

[2022-07-19 16:57] karmei commented on #135
Same issue with me. Windows 10 Pro version is 21H2...so, way newer then this Creators update

[2022-08-16 11:13] cikichen commented on #186
Cannot convert value of type 'CVaListPointer' to expected argument type '__darwin_va_list?' (aka 'Optional<UnsafeMutablePointer<Int8>>')

Apple M1

[2022-10-20 11:51] ralf-krause opened #209 "Translation of german text strings"
I found two typos in the German texts displayed in Scratch Link.
I'm using macOS 12.6 and the latest version of Scratch Link.

In the first sting there should be a space in front of the "MicroBit More".
And in the second string there should be a second m in german writing of "Programm".
I can't say if the same typos can be found in the windows version, too.

Please look also at https://github.com/

[2022-10-28 07:17] andrey-krasnov opened #211 "Scratch link doesn't see Boost hub"
### Expected Behavior

Lego boost hub should connect to Scratch link without any troubles

### Actual Behavior

Scratch link doesn't see boost hub. A lot of checks with OS, drivers, software didn't get any result.

The following changes in the source code of BLEsession.cs got a result.
Decrease MinimumSignalStrength const to -100
and
set Watcher.ScanningMode to Active

### Steps to Reproduce

I su